/* * {
    width: 100%;
    height: 500px;
} */

.banner {
    /* margin: 0;
    padding: 0;
    width: 100%;
    height: 500px; */
    /* background-image: url('../imagenes/01.jpg');
    background-size: 100% 100%; */
    width: 100%;
    height: 504px;
    background-image: url('../imagenes/01.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

h2 { 
    color: #FFFFFF;
    font-size: 50px;
}

h3 {
    color: #FFFFFF;
    font-size: 26px;
}
/* .imagen-de-banner {
    object-fit: contain;
    height: 504px;
} */


.boton-de-banner {
    position:relative;
    width: 200px;
    height: 45px;

    background: #A27B5C;
    border-radius: 5px;
    border-color: #A27B5C;
}

.boton-de-banner:hover {
    border: none;
    background-color: #2C3639;
    color:#A27B5C;
}