* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
} 

html,
body {
    font-size: 16px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2C3639;
}


.NuestrasOfertas {

  width: 1170px;
  height: 446px;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.titulo-contenedor {
  display: flex;
  justify-content:center;
  align-items: center;
}

/* De manera provisoria separé el título en dos h2 para poder usar colores distintos en "Nuestras" y "Ofertas". Falta chequear si hay una forma mejor de hacerlo. */
.nuestras {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;

  color: #FFFFFF;
}

.ofertas {
  margin: 15px ;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #A27B5C;
}


